# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node
node_modules/
dist/
*.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Docker
mongo_data/
